body {
    font-family: 'Lato', sans-serif;
    background: #555555;
}

/* "ui center aligned grid" centers the radio buttons too */
#align-left {
    text-align: left;
}

#error {
    display: none;
    text-align: center;
}

/* Example K from http://www.css3.info/preview/box-shadow/ */
#box-shadow {
    background: whitesmoke;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px #888;
    box-shadow: inner 0 0 5px #888;
}

/* not sure why scroll bar appears on default sidebar */
.ui.bottom.active.sidebar.menu {
    overflow-y: hidden;
}