/* CSS Centering: Auto-width Margins
   http://bluerobot.com/web/css/center1.html */
body {
    font-family: "Calibri";
    margin:50px 0px; 
    padding:0px;
    text-align: center;
    background-color: #3b4654;
}
.container {
    width:500px;
    margin:0px auto;
    text-align:left;
    padding:15px;
    border:1px solid #333;
    border-radius: 10px;
    background-color: #f7f7f6;
}
p {
    text-align: left;
}
#inputBox {
    width: 87%; /* needs to be rewritten */
    float: left;
}
#displayArea {
    border: 1px solid black;
    background-color: white;
    font-size: 13px;
    width: 500px;
    height: 200px;
    overflow: auto;
}
ul {
    list-style: none;
    padding: 10px 10px;
}
li {
    word-wrap: break-word;
    width: 470px;
}
.timestamp {
    color: blue;
}
footer {
    text-align: center;
    font-size: 10px;
    margin: 10px 0 0 0;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}