body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    background: #333;
}

.ui.button {
    text-transform: none !important;
}

/* "ui center aligned grid" centers the radio buttons too */
#align-left {
    text-align: left;
}

#greeting-box, #login-error, #quiz-error, #welcome-container {
    display: none;
    text-align: center;
}

#auth-container, #signup-container, #quiz-container {
    display: none;
}

#greeting-box {
    position: absolute;
    top: 10%;
    width: 90%;
    left: 5%;
    z-index: 1; /* display on top if greeting overlaps quiz on small screens */
}

#quiz {
    background: whitesmoke;
    margin: 10px 0;
    border-radius: 3px;
    padding: 20px 20px;

    /*
    Example K from http://www.css3.info/preview/box-shadow/
    -moz-box-shadow: inset 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 5px#888;
    box-shadow: inner 0 0 5px #888;
    */

    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}

/* http://zurb.com/playground/radioactive-buttons 
   Awesome effect on Chrome and Safari only */
@-webkit-keyframes bluePulse {
    from {  -webkit-box-shadow: 0 0 20px #0095CB; }
    50% {  -webkit-box-shadow: 0 0 50px #6FC3DF; }
    to { -webkit-box-shadow: 0 0 20px #0095CB; }
}

/* not sure why sidebar is shorter than its items */
.ui.active.sidebar.menu {
    overflow-y: hidden;
}

.right.menu > .item {
    margin-top: -2px;
}

.header.item > a:link {
    text-decoration: none;
}